@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid orange; */
  color: whitesmoke;
}
body {
  background-color: black;
}

:root {
  /* CSS Vars */

  /* used in LeftSidebar.modules.css */
  --nav-shadow-blur-mobile: 3px;
  --nav-shadow-blur-desktop: 3px;
  --nav-shadow-offset-mobile: 4px;
  --nav-shadow-offset-desktop: 4px;
}

h1 {
  font-size: 2rem;
}


/* AnimatedPortraitInformalSVG */
#rzpi path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: animate-path 4s ease alternate infinite;
}

@keyframes animate-path {
  0% {
    stroke-dashoffset: 1;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}