@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid orange; */
  color: whitesmoke;
}
body {
  background-color: black;
}

:root {
  /* CSS Vars */

  /* used in LeftSidebar.modules.css */
  --nav-shadow-blur-mobile: 3px;
  --nav-shadow-blur-desktop: 3px;
  --nav-shadow-offset-mobile: 4px;
  --nav-shadow-offset-desktop: 4px;
}

h1 {
  font-size: 2rem;
}


/* AnimatedPortraitInformalSVG */
#rzpi path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: animate-path 4s ease alternate infinite;
}

@keyframes animate-path {
  0% {
    stroke-dashoffset: 1;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


.dropdown {
  clip-path: inset(0);
  height: 0;
  /* for some reason, module.css for next does not support multiple transitions, it seperates them causing an overwrite issue. 
      -> hack: just manually apply the transition inline */
  
  transition: clip-path 0s ease-out, height 200ms ease-out;
  /* transition: height 250ms ease-out; */
}

.dropdown-open  {
  height: var(--dropdown-height);
  clip-path: inset(-100vh -100vw);
  transition-delay: 200ms, 0s; 
}