.scene {
    /* --scene-size: 200px; */
    /* --transition-duration: 2s; */
    --color-red: hsla(0, 100%, 50%, 0.7);
    --color-green: hsla(120, 100%, 50%, 0.7); 
    --color-turquoise: hsla(180, 100%, 50%, 0.7); 
    --color-yellow: hsla( 60, 100%, 50%, 0.7);
    --color-navy: hsla(240, 100%, 50%, 0.7); 
    --color-pink: hsla(300, 100%, 50%, 0.7); 

    --color-front: var(--color-navy);
    --color-back: var(--color-pink);
    --color-left: var(--color-turquoise);
    --color-right: var(--color-yellow);
    --color-top: var(--color-red);
    --color-bottom: var(--color-green);
}

.scene {
    width: var(--scene-size);
    aspect-ratio: 1 / 1;
    perspective: calc(var(--scene-size) * 3);
}
  
.cube {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transform: translateZ(calc(-1 * var(--scene-size) / 2));

    transition: transform var(--transition-duration) ease;
}

.cube > li {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    place-items: center;
}

.cube > li > * {
    display: grid;
    place-content: center;

    width: 70%;
    height: 70%;
}

.face-front  { transform: rotateY(  0deg) translateZ(calc(var(--scene-size) / 2)); }
.face-right  { transform: rotateY( 90deg) translateZ(calc(var(--scene-size) / 2)); }
.face-back   { transform: rotateY(180deg) translateZ(calc(var(--scene-size) / 2)); }
.face-left   { transform: rotateY(-90deg) translateZ(calc(var(--scene-size) / 2)); }
.face-top    { transform: rotateX( 90deg) translateZ(calc(var(--scene-size) / 2)); }
.face-bottom { transform: rotateX(-90deg) translateZ(calc(var(--scene-size) / 2)); }

.face-front > *  { background: var(--color-front ); box-shadow: 0 0 30px 15px var(--color-front ); }
.face-back > *   { background: var(--color-back  ); box-shadow: 0 0 30px 15px var(--color-back  ); }
.face-left > *   { background: var(--color-left  ); box-shadow: 0 0 30px 15px var(--color-left  ); }
.face-right > *  { background: var(--color-right ); box-shadow: 0 0 30px 15px var(--color-right ); }
.face-top > *    { background: var(--color-top   ); box-shadow: 0 0 30px 15px var(--color-top   ); }
.face-bottom > * { background: var(--color-bottom); box-shadow: 0 0 30px 15px var(--color-bottom); }

.show-front  { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateY(   0deg); }
.show-right  { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateY( -90deg); }
.show-back   { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateY(-180deg); }
.show-left   { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateY(  90deg); }
.show-top    { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateX( -90deg); }
.show-bottom { transform: translateZ(calc(-1 * var(--scene-size) / 2)) rotateX(  90deg); }